<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ankushkumar.healthy247">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Exercise" />
        <activity android:name=".BMI" />
        <activity android:name=".Profile" />
        <activity android:name=".Breakfast" />
        <activity android:name=".Lunch" />
        <activity android:name=".Dinner" />
        <activity android:name=".MorningSnack" />
        <activity android:name=".AfternoonSnack" />
        <activity android:name=".EveningSnack" />
        <activity android:name=".MyMeal" />
        <activity android:name=".BreakfastSearch" />
        <activity android:name=".bodymassindex" />
        <activity android:name=".basalmetabolicrate" />
        <activity android:name=".plank" />
        <activity android:name=".Meditation" />
        <activity android:name=".ProfileEdit"></activity>
    </application>

</manifest>